/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "mixins";

body { 
	font-family: arial, sans-serif;
	background: #ccc;
	color: #333;
	margin: 0px; 
 }

section, div, fieldset { 
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
 .wrapper { 
 	width: auto;
 	max-width: 80%;
 	min-height: 450px;
 	margin: 20px auto 20px auto;
 	background: #fff;
 	padding: 30px; 
 	position: relative;
 	//overflow: hidden;

 	@include breakpoint(tablet-portrait){
 		max-width: 97.5%;
 		padding: 20px; 
 	}

 	 @include breakpoint(mobile){
 		max-width: 100%;
 		padding: 10px; 
 		margin: 0;
 	}
 }

 h1, h2, h3, h4, h5, h6 {
 	margin: 0;
 	padding: 0;
 	text-transform: uppercase;
 }

 h1 { 
 	font-size: 20px;
 	line-height: 20px;
 	margin-bottom: 30px;
 	position: relative;
 	z-index: 200; 
 }

	h2 { 
		font-size: 12px;
		line-height: 12px; 
		margin-bottom: 40px;
		color: #999;
		 padding-top: 5px;
	}

 .off { display: none; }



 // CONTACT DISPLAY
.ab_display-section {
	display: block;
	width: 100%;
	height: auto;
	@include clearfix();
	position: relative;
	padding-bottom: 30px;
	opacity: 1;
	@include buttonHover;

	.display_contacts { @include clearfix();}

	.ab_contact {
		@include commonBox;	

		button { 
			opacity: 0;
			@include buttonHover;
			position: absolute;
			top: 5px; 
			@include abButtons;
		}
		.remove-contact { right: 10px; }
		.edit-contact { right: 80px; }


		@include breakpoint(mobile){
			height: auto;
		}
	}

	.ab_contact:hover {
		button { opacity: 1; }
	}

	.ab_label,
	.address-label { 
		text-transform: uppercase;
		font-size: 11px;
		line-height: 11px;
		display: block;
		width: 100%;
		color: #999;
		margin-right: 5px; 
		font-weight: bold
	}
	.ab_label.inline { display: inline; }
	.address-label, 
	.one-line { margin: 10px 5px 3px 0; }

	.ab_label:first-child { display: none; }
	.ab_content:nth-child(2) { 
		font-size: 16px;
		line-height: 16px;
		margin-bottom: 10px;
		font-weight: bold;
		color: #000;
		display: block;
		width: 100%;
	}

	.ab_content { 
		display: inline-block;
		font-size: 14px;
		line-height: 14px; 
		color: #000;
	}
}
.ab_display-section > button { 
	position: absolute;
	display: block;
	width: auto;
	top: 0px; left: 180px;
	z-index: 20;
	@include abButtons;

	@include breakpoint(iphone4) {
		left: auto; right: 10px;
	}
}
.ab_display-section.editing { opacity: 0; }



 // CONTACT FORM
.ab_edit-section {
	margin-left: -1px;

 	width: 100%;
 	position: absolute;
 	top: 50px;
 	left: 100%;
 	height: auto;
 	background: #fff;
 	padding: 30px;
 	z-index: 10; 
 	opacity: 0;
 	z-index: 100;
 	@include slideInAction;

 	h2 {}

 	.submit { 
 		position: absolute;
 		top: 30px; left: 190px;
 		width: auto;
 		@include abButtons;
 	}

 	form { 
 		width: 700px;

 		@include breakpoint(mobile){
 			width: 300px;
 		} 
 	}

 	fieldset {
 		@include commonBox;	
 	}
 	#name-fieldset { 
 		width: 620px; 

 		@include breakpoint(mobile){
 			width: 300px; 
 		}
 	}
 	h3 { 
 		font-size: 16px;
 		line-height: 16px;
 		margin-bottom: 20px; 
 	}
 	label { 
 		color: #999;
 		font-size: 11px;
 		text-transform: uppercase;
 		font-weight: bold;
 		display: block;
 		margin-top: 5px;
 	}
 	input { 
 		font-size: 14px;
 		line-height: 14px; 
 		display: block;
 		width: 100%;
 		margin-bottom: 10px; 
 		padding: 3px 10px 3px 10px;
 	}
 	input.addl-entry { 
 		@include abButtons;
 		width: auto; 
 	}

 	::-webkit-input-placeholder {
   		font-size: 11px;
   		color: #ddd;
   		font-style: italic;
	}
	:-moz-placeholder { /* Firefox 18- */
	    font-size: 11px;
   		color: #ddd;
   		font-style: italic;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   	font-size: 11px;
   		color: #ddd;
   		font-style: italic;  
	}

	:-ms-input-placeholder {  
	   	font-size: 11px;
   		color: #ddd;
   		font-style: italic;  
	}
 }
 #entry-form-section.in-use {
 	opacity: 1;
 	@include slideIn;
 }
