/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../sass/screen.scss */
body {
  font-family: arial, sans-serif;
  background: #ccc;
  color: #333;
  margin: 0px;
}

/* line 16, ../sass/screen.scss */
section, div, fieldset {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 20, ../sass/screen.scss */
.wrapper {
  width: 80%;
  min-height: 450px;
  margin: 20px auto 20px auto;
  background: #fff;
  padding: 30px;
  position: relative;
}
@media (min-width: 720px) and (max-width: 1023px) {
  /* line 20, ../sass/screen.scss */
  .wrapper {
    width: 97.5%;
    padding: 20px;
  }
}
@media (max-width: 719px) {
  /* line 20, ../sass/screen.scss */
  .wrapper {
    width: 100%;
    padding: 10px;
    margin: 0;
  }
}

/* line 41, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

/* line 47, ../sass/screen.scss */
h1 {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 20px;
}

/* line 53, ../sass/screen.scss */
h2 {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 15px;
}

/* line 60, ../sass/screen.scss */
.off {
  display: none;
}

/* line 65, ../sass/screen.scss */
.ab_display-section {
  display: block;
  width: 100%;
  overflow: hidden;
  *zoom: 1;
  position: relative;
  padding-bottom: 30px;
}
/* line 72, ../sass/screen.scss */
.ab_display-section .ab_contact {
  width: 300px;
  height: auto;
  display: inline-block;
  float: left;
  padding: 10px;
  margin: 0 20px 20px 0;
  border: 1px solid #999;
  position: relative;
}
/* line 75, ../sass/screen.scss */
.ab_display-section .ab_contact button {
  opacity: 0;
  -webkit-transition: opacity 0.75s;
  -moz-transition: opacity 0.75s;
  -ms-transition: opacity 0.75s;
  -o-transition: opacity 0.75s;
  transition: opacity 0.75s;
  position: absolute;
  top: 5px;
}
/* line 81, ../sass/screen.scss */
.ab_display-section .ab_contact .remove-contact {
  right: 10px;
}
/* line 82, ../sass/screen.scss */
.ab_display-section .ab_contact .edit-contact {
  right: 80px;
}
@media (max-width: 719px) {
  /* line 72, ../sass/screen.scss */
  .ab_display-section .ab_contact {
    height: auto;
  }
}
/* line 91, ../sass/screen.scss */
.ab_display-section .ab_contact:hover button {
  opacity: 1;
}
/* line 95, ../sass/screen.scss */
.ab_display-section .ab_label,
.ab_display-section .address-label {
  text-transform: uppercase;
  font-size: 11px;
  line-height: 11px;
  display: block;
  width: 100%;
  color: #999;
  margin-right: 5px;
  font-weight: bold;
}
/* line 105, ../sass/screen.scss */
.ab_display-section .ab_label.inline {
  display: inline;
}
/* line 107, ../sass/screen.scss */
.ab_display-section .address-label,
.ab_display-section .one-line {
  margin: 10px 5px 3px 0;
}
/* line 109, ../sass/screen.scss */
.ab_display-section .ab_label:first-child {
  display: none;
}
/* line 110, ../sass/screen.scss */
.ab_display-section .ab_content:nth-child(2) {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #000;
  display: block;
  width: 100%;
}
/* line 120, ../sass/screen.scss */
.ab_display-section .ab_content {
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  color: #000;
}

/* line 127, ../sass/screen.scss */
.ab_display-section > button {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 136, ../sass/screen.scss */
.ab_edit-section {
  width: 100%;
  position: absolute;
  top: 70px;
  left: 100%;
  height: auto;
  background: #fff;
  padding: 30px;
  z-index: 10;
  opacity: 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
/* line 148, ../sass/screen.scss */
.ab_edit-section .submit {
  position: absolute;
  top: 26px;
  left: 180px;
  width: auto;
}
/* line 154, ../sass/screen.scss */
.ab_edit-section form {
  width: 700px;
}
@media (max-width: 719px) {
  /* line 154, ../sass/screen.scss */
  .ab_edit-section form {
    width: 300px;
  }
}
/* line 162, ../sass/screen.scss */
.ab_edit-section fieldset {
  width: 300px;
  height: auto;
  display: inline-block;
  float: left;
  padding: 10px;
  margin: 0 20px 20px 0;
  border: 1px solid #999;
  position: relative;
}
/* line 165, ../sass/screen.scss */
.ab_edit-section #name-fieldset {
  width: 620px;
}
@media (max-width: 719px) {
  /* line 165, ../sass/screen.scss */
  .ab_edit-section #name-fieldset {
    width: 300px;
  }
}
/* line 172, ../sass/screen.scss */
.ab_edit-section h3 {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 20px;
}
/* line 177, ../sass/screen.scss */
.ab_edit-section label {
  color: #999;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin-top: 5px;
}
/* line 185, ../sass/screen.scss */
.ab_edit-section input {
  font-size: 14px;
  line-height: 14px;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 3px 10px 3px 10px;
}
/* line 193, ../sass/screen.scss */
.ab_edit-section input.addl-entry {
  width: auto;
}
/* line 194, ../sass/screen.scss */
.ab_edit-section ::-webkit-input-placeholder {
  font-size: 11px;
  color: #ddd;
  font-style: italic;
}
/* line 199, ../sass/screen.scss */
.ab_edit-section :-moz-placeholder {
  /* Firefox 18- */
  font-size: 11px;
  color: #ddd;
  font-style: italic;
}
/* line 205, ../sass/screen.scss */
.ab_edit-section ::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 11px;
  color: #ddd;
  font-style: italic;
}
/* line 211, ../sass/screen.scss */
.ab_edit-section :-ms-input-placeholder {
  font-size: 11px;
  color: #ddd;
  font-style: italic;
}

/* line 217, ../sass/screen.scss */
#entry-form-section.in-use {
  opacity: 1;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
